.button {
  display: block;
  height: 70px;
  width: 460px;
  font-size: 20px;
  line-height: 3.5;
  background-color: $color-black;
  color: $color-white;
  font-family: $font-montserrat;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.button-edit {
  margin-left: auto;
  margin-top: 40px;
  width: 210px;
}