.create-post {
  margin-top: 63px;
}

.create-post-button-wrapper {
  width: 100%;
  max-width: $site-size;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 0 30px;
}

.create-post-button {
  color: $color-black;
  font-family: $font-montserrat;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;

  &:first-of-type {
    margin-right: 48px;
  }
}