.edit-post {
  margin-top: 63px;
}

.edit-post-button {
  color: $color-black;
  font-family: $font-montserrat;
  font-size: 20px;
  font-weight: 700;
  display: block;
  text-align: right;
  margin-top: 63px;
}

.edit-post-date {
  margin-top: 33px;
}