.footer {
  height: 90px;
  width: 100%;
  background-color: $color-black;
  color: white;
  line-height: 5.6;
  text-align: center;
}

.footer-text {
  font-family: $font-montserrat;
  font-size: $base-font-size;
  font-weight: 400;
  letter-spacing: 0.09em;
}