.nav {
  height: 100px;
  background-color: $color-white;
}

.nav-logo {
  height: 30px;
  width: auto;
}

.nav-session {
  font-family: $font-montserrat;
  font-weight: bold;
  font-size: 18px;
  color: $color-black;
  text-decoration: none;
  letter-spacing: 0.09em;
}