.service {
  position: relative;
  padding: 78px 0;
  background-color: #292929;
  margin-top: 150px;
}

.service-detail {
  color: $color-white;
  font-size: $base-font-size;
  font-weight: 700;
  margin-top: 47px;
  line-height: 2;
}

.service-logo {
  height: 28px;
  width: auto;
}